#toplevel_page_location-services-manager ul.wp-submenu {
    padding: 10px 0 0 0;
}

#toplevel_page_location-services-manager ul.wp-submenu li:last-child a {
    background: #036d00;
    font-weight: 900;
    color: #fff;
    line-height: 1;
    padding: 14px 12px;
}

.wrap {
    padding-right: 30px;
}

.wrap .form-status.updated,
.wrap .form-status.error {
    margin: 10px 0px;
    padding: 10px;
    line-height: 1;
}

#setting-error-tgmpa {
    display: none;
}

.locations-services-table {
    width: 100%;
    margin-top: 20px;
}

.locations-services-table tr {
    margin: 10px 0;
}

.locations-services-table td.active {
    color: #008000;
    font-weight: bold;
}

.locations-services-table td.inactive {
    color: #ff0000;
    font-weight: bold;
}

.locations-services-table .check-column {
    padding: 11px 0 8px 3px;
}

.locations-services-table .check-column input {
    margin: 0 0 0 8px;
}

.locations-services-table .page-title-action {
    display: block;
    width: max-content;
    margin: auto;
}

.locations-services-table  th {
    font-weight: bold;
}

.locations-services-table th.status {
    width: 7%;
}

.locations-services-table th.shortcode {
    width: 10%;
}

.locations-services-table th.title {
    width: auto;
}

.locations-services-table th.address {
    width: 20%;
}

.locations-services-table th.services {
    width: 20%;
}

.locations-services-table code.shortcode {
    margin: 0 1px 0 -4px;
}

.location_service_form {
    display: flex;
    width: 100%;
    border: 1px solid #d9d9d9;
    box-shadow: 0 0 17px 0px #dfdfdf;
    padding: 30px 20px;
    margin-top: 20px;
    margin-left: -10px;
}

.location_service_form .left {
    width: 50%;
}

.location_service_form .right {
    width: 50%;
}

.location_service_form .right .imageWrap {
    width: 100%;
    padding: 0px;
}

.location_service_form .right .imageWrap img {
    display: block;
    width: 100%;
    object-fit: cover;
    height: 245px;
    margin: auto;
    border: 1px solid #dfdfdf;
    box-shadow: 0 0 17px 0px #dfdfdf;
}

.location_service_form .right .imageWrap #location_image {
    display: none;
}

.location_service_form .right .imageWrap label.upload-picture {
    margin: 15px auto;
    display: block;
    width: max-content;
}

.location_service_form .form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    width: 600px;
    position: relative;
}

.location_service_form .checkbox.form-group {
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.location_service_form .status.form-group {
    justify-content: start;
}

.location_service_form .form-group .main-label {
    font-size: 19px;
    font-weight: 500;
    line-height: 1.3;
    width: 30%;
}

.location_service_form .checkbox.form-group .main-label {
    margin-bottom: 1.5rem;
}

.location_service_form .form-group textarea,
.location_service_form .form-group input[type=text] {
    width: 70%;
}

.location_service_form .form-group textarea,
.location_service_form .form-group input[type=text]:focus{
    box-shadow: none;
    outline: none;
}

.location_service_form .services {
    display: flex;
    flex-wrap: wrap;
}

.location_service_form .services label {
    margin-right: 20px;
}

.location_service_form .btn-default {
    margin-top: 10px;
    font-size: 16px;
    background: #2271b1;
    color: #fff;
    padding: 7px 15px;
    border: 1px solid #2271b1;
    border-radius: 5px;
    cursor: pointer;
}

.location_service_form #status:checked::before {
    display: none;
}

.location_service_form .checkbox-wrapper #status {
    display: none;
}

.location_service_form .checkbox-wrapper label {
    cursor: pointer;
    width: 40px;
    height: calc(40px / 2);
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
}

.location_service_form .checkbox-wrapper label:after {
    content: '';
    position: absolute;
    top: 5%;
    left: 2.5%;
    width: calc(50% - 5%);
    height: calc(100% - 11%);
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

.location_service_form .checkbox-wrapper input:checked + label {
    background: #31d129;
}

.location_service_form .checkbox-wrapper input:checked + label:after {
    left: calc(100% - 2.5%);
    transform: translateX(-100%);
}

.location_service_form .checkbox-wrapper label:active:after {
    width: 55%;
}

.location_service_form .required{
    display: none;
}

.location_service_form .locFormError textarea,
.location_service_form .locFormError input[type=checkbox],
.location_service_form .locFormError input[type=text] {
    border: 1px solid #ff8989;
}

.location_service_form .locFormError .required{
    display: block;
    position: absolute;
    left: 100%;
    padding-left: 10px;
    color: #f00;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #20212491;
    z-index: 9999;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

#loader div {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #2271b1;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: loader 2s linear infinite;
}

tr.no-data td {
    text-align: center;
    padding: 20px 0;
}

tr.no-data td span {
    font-size: 20px;
    padding-bottom: 10px;
    display: block;
}

@keyframes loader {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}